@import 'vars';
@import 'global';
@import 'reset';
@import 'libs';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,300italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");



.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }

  &__nav-list {
    display: flex;
    &-item-1 {
      padding-left: 32px;
    }
    &-item-2 {
      padding: 0 78px;

    }
    &-item-3 {
      padding: 0 78px;
    }
    &-item-4 {
      padding-right: 60px;
    }
    &-link {
      @extend %title-font;
      color: $black;
      opacity: .9;
    }
    &-link--active {
      padding-bottom: 4px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 1px;
        background: rgba($black, .7);
      }
    }
  }
  
  &__menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }


}


.logo {
  margin: 0 auto;
}







.top {
  &__inner {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      top: 0;
      background: url('../img/symmetry-and-style.jpg');
      height: 722px;
      z-index: -1;
    }
  }
   &__slider {
    &-content {
      display: flex;
     }
    &-text-block {
      margin-top: 174px;
      margin-left: 19px;
      max-width: 635px;
    }
    &-title {
      @extend %title-font;
      font-size: 110px;
      line-height: 134px;
      color: $black;
      margin-bottom: 26px;
      padding-bottom: 26px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        max-width: 185px;
        height: 1px;
        width: 100%;
        background: #6d7278;
      }
    }


   }

  .swiper-wrapper {
    margin-bottom: 12px;
    margin-left: 8%;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: $black;
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .swiper-pagination-bullet-active {
    background: #FFEF35;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
  }
}

.new-collection {
  text-align: center;
  padding: 105px 0;
  &__title {
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    color: $black;
    padding: 25px;
    margin-bottom: 25px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 252px;
      bottom: 0;
      right: 0;
      left: 0;
      background: #6D7278;
      height: 1px;
      margin: 0 auto;
    }
  }
  &__text {
    max-width: 730px;
    margin: 0 auto 54px;
  }
  .collection-container {
    max-width: 1920px;
  }
  

}



.collection-pics {
  display: flex;
  justify-content: space-around;
  &__item {
    position: relative;
    cursor: pointer;
  }

  &__text-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s;
    &:hover {
      opacity: .7
    }
  }
  &__title {
    @extend %title-font;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    padding: 19px;
    margin-bottom: 20px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      width: 55%;
      height: 1px;
      background: #6D7278;
      margin: 0 auto;
    }
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
  }
  &__img {
    max-width: 350px;
    object-fit: cover;
  }
}

.info-text {
  padding: 172px 0 190px;
  background-image: url(../img/info-text-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 616px;
  &__title {
    @extend %title-font;
    max-width: 540px;
    font-size: 60px;
    line-height: 80px;
    color: $black;
    margin-bottom: 22px;
    padding-bottom: 22px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 1px;
      width: 200px;
      background-color: #6d7278;
    }
  }
  &__text {
    max-width: 540px;
  }
}

.work-out {
  padding: 79px 0 109px;
  &__title {
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
    color: $black;
    margin-bottom: 39px;
  }
  &__box-line {
    background: $black;
    height: 2px;
    width: 100%;
  }
  &__box {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
  }
  &__item {
    width: 246px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &_title {
      @extend %title-font;
      font-size: 16px;
      line-height: 23px;
      color: $black;
      margin-left: 10px;
    }
    &_text {
      margin-top: 14px;
    }
  }
  &__item--consultation {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $black;
    }
  }
  &__item--production {
    margin-left: 317px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -89px;
      width: 2px;
      height: 20px;
      background: $black;
      }
  }

  &__item--measurements {
    margin-top: 40px;
    margin-left: 306px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -40px;
      left: 0;
      width: 2px;
      height: 20px;
      background: $black;
      }
  }
}

.mix-gallery {
  &__btn-block {
    width: 840px;
    margin: 0 auto 46px;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
      padding: 6px 16px;
      border: 1px solid #454647;
      border-radius: 20px;
      font-weight: 600;
      font-size: 14px;
      background-color: transparent;
      opacity: .5;
      color: #8F8D8D;
      cursor: pointer;
  }
  .mixitup-control-active {
    background-color: #FFEF35;
    color: $black;
    border: none;    
  }
  &__inner {
    max-width: 1870px;
    margin: 0 auto;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__items {
    display: grid;
    grid-template-columns: 8fr 5fr 5fr;
    grid-template-rows: 1fr 1fr;
    gap: 34px;
  }
  &__item--lg {
    grid-row: span 2;
  }
}

.inspiration {
  padding: 88px 0 99px;
  &__title {
    @extend %title-font;
    text-align: center;
    margin: 0 auto;
    max-width: 424px;
    font-size: 36px;
    line-height: 51px;
    color: $black;
    margin-bottom: 29px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__blog {
    max-width: 540px;
  }
  &__links {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
    margin: 20px 0 7px;
  }
  &__author,
  &__article {
    color: inherit;
  }
  &__text {
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
    color: $black;
  }
}

.footer {
  &__content {
    background: #DFDFDF;
    padding: 61px 0 80px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__contact {
    width: 540px;
    &-title {
      @extend %title-font;
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 14px;
      color: $black;
    }
    &-text {
      margin-bottom: 16px;
      max-width: 476px;
    }
    &-email {
      color: $black;
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 23px;
      padding-left: 30px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background-image: url(../img/envelope.svg);
        top: 8px;
        left: 0;
        width: 16px;
        height: 12px;
      }
    }
  }
  .subscription {
    display: flex;
    &__input {
      width: 100%;
      padding: 6px 10px 6px 18px;
      border-radius: 21px;
      border: 1px solid rgba($black, .7);
      background-color: transparent;
      &:placeholder {
        color:#A1A1A1;
      }
    }
    &__btn {
      margin-left: 9px;
      background-color: $black;
      border: none;
      font-weight: 600;
      color: #fff;
      border-radius: 21px;
      min-width: 160px;
      padding: 6px 12px;
      cursor: pointer;
    }
  }

  &__social {
    margin-right: auto;
    margin-left: 100px;
    width: 125px;
    &-link {
      padding-left: 28px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
  }

  &__social-link--facebook:before {
    background-image: url(../img/facebook.svg);
    height: 16px;
    width: 16px;
  }
  &__social-link--instagram:before {
    background-image: url(../img/instagram.svg);
    height: 15px;
    width: 14px;
  }
  &__social-link--pinterest:before {
    background-image: url(../img/pinterest.svg);
    height: 16px;
    width: 16px;
  }
  &__social-link--whatsApp:before {
    background-image: url(../img/whatsApp.svg);
    height: 14px;
    width: 14px;
  }
  &__social-link--youtube:before {
    background-image: url(../img/youtube.svg);
    height: 12px;
    width: 18px;
  }

  &__menu {
    margin-right: 60px;
    width: 125px;
  }

  &__social-link,
  &__menu-link {
    display: inline-block;
    color: $grey-text-second;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
  }



  &__copyright {
    background-color: $black;
    text-align: center;
    color: #A1A1A1;
    padding: 42px 0 41px;
  }
}


.side-menu {
  transition: all 0.8s ease 0s;
  transform: translateX(100%);
  max-width: 694px;
  width: 100%;
  min-height: 1200px;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: -3px 0px 4px 0px #928c8c;
  &.side-menu--emerge {
    transform: translateX(0%);
  }
  &__close {
    background: transparent;
    border: none;
    margin: 41px 0 57px 47px;
    cursor: pointer;
  }
  &__container {
    max-width: 483px;
    text-align: center;
    margin: 0 95px 0 116px;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 41px;
  }
  &__title {
    color: $black;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;
    &:after {
      position: absolute;
      content: '';
      background-color: #D9D9D9;
      margin: 0 auto;
      width: 252px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid #979797;
    }
  }

  &__text {
    margin-bottom: 75px;
  }
  &__img {
    max-width: 483px;
  }
}

.breadcrumbs {
  padding: 13px 0 14px;
  background-color: rgba(#DFDFDF, .5);
  &__list {
    display: flex;
  }
  &__item {
    &:after {
    content: '/';
    margin-left: -4px;
    margin-right: 4px;
  }
    &:last-child:after {
    content: '';
  }
  }
  &__link {
  font-size: 14px;
  color: $grey-text-main;
}
&--transparent {
  background: none;
}
}

.about {
  &__top {
  background-image: url(../img/about_us.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  }
  &__title {
    @extend %title-font;
    color: $black;
    font-size: 60px;
    line-height: 80px;
    padding: 104px 0 160px;
  }

  &__mid {
    padding: 129px 0 40px;
    &-title {
      @extend %title-font;
      color: $black;
      font-size: 36px;
      line-height: 60px;
      max-width: 822px;
      padding-bottom: 20px;
      margin-bottom: 23px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        height: 2px;
        background: #979797;
        bottom: 0;
        left: 0;
        width: 200px;
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    padding-left: 285px;
  }
  &__media {
    background-image: url(../img/about_play_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 414px;
  }
  &__play {
    padding-left: 7px;
  }
  &__play-circle {
    width: 80px;
    height: 80px;
    background-color: rgba($black, .4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}