@import 'vars';
@import 'global';
@import 'reset';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,300italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");



.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }

  &__nav-list {
    display: flex;
    &-item-1 {
      padding-left: 32px;
    }
    &-item-2 {
      padding: 0 78px;

    }
    &-item-3 {
      padding: 0 78px;
    }
    &-item-4 {
      padding-right: 60px;
    }
    &-link {
      @extend %title-font;
      color: $black;
      opacity: .9;
    }
  }
  
  &__menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }


}


.logo {
  margin: 0 auto;
}


.footer {
  &__content {
    background: #DFDFDF;
    padding: 61px 0 80px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__contact {
    width: 540px;
    &-title {
      @extend %title-font;
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 14px;
      color: $black;
    }
    &-text {
      margin-bottom: 16px;
      max-width: 476px;
    }
    &-email {
      color: $black;
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 23px;
      padding-left: 30px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background-image: url(../img/envelope.svg);
        top: 8px;
        left: 0;
        width: 16px;
        height: 12px;
      }
    }
  }
  .subscription {
    display: flex;
    &__input {
      width: 100%;
      padding: 6px 10px 6px 18px;
      border-radius: 21px;
      border: 1px solid rgba($black, .7);
      background-color: transparent;
      &:placeholder {
        color:#A1A1A1;
      }
    }
    &__btn {
      margin-left: 9px;
      background-color: $black;
      border: none;
      font-weight: 600;
      color: #fff;
      border-radius: 21px;
      min-width: 160px;
      padding: 6px 12px;
      cursor: pointer;
    }
  }

  &__social {
    margin-right: auto;
    margin-left: 100px;
    width: 125px;
    &-link {
      padding-left: 28px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
  }

  &__social-link--facebook:before {
    background-image: url(../img/facebook.svg);
    height: 16px;
    width: 16px;
  }
  &__social-link--instagram:before {
    background-image: url(../img/instagram.svg);
    height: 15px;
    width: 14px;
  }
  &__social-link--pinterest:before {
    background-image: url(../img/pinterest.svg);
    height: 16px;
    width: 16px;
  }
  &__social-link--whatsApp:before {
    background-image: url(../img/whatsApp.svg);
    height: 14px;
    width: 14px;
  }
  &__social-link--youtube:before {
    background-image: url(../img/youtube.svg);
    height: 12px;
    width: 18px;
  }

  &__menu {
    margin-right: 60px;
    width: 125px;
  }

  &__social-link,
  &__menu-link {
    display: inline-block;
    color: $grey-text-second;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
  }



  &__copyright {
    background-color: $black;
    text-align: center;
    color: #A1A1A1;
    padding: 42px 0 41px;
  }
}

